.card {

  background-color: var(--accent-secondary);
  padding: 2rem 1.5rem 2.5rem;

}

.card h1 {
  margin-bottom: 0;
}

.card address {

  color: var(--accent-primary);
  font-size: 1.25rem;
  margin-bottom: 1rem;
  opacity: .6;

}

.card p {
  font-weight: 600;
}

@media (max-width: 580px) {

  .card {
    margin: 0 -1.5rem;
  }

}