.app {

  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.appInner {

  display: flex;
  margin: 0 -1rem;
  width: 66.666%;

}

.appInner > div {

  flex-basis: 50%;
  max-width: 50%;
  padding: 0 1rem;

}